
.dpbody { width:252px;border:1px solid gray; overflow:hidden; cursor:default; display:none; position:absolute; left:0px; top:0px; z-index:999; 
 background-color:#ECF3FF; font: normal 10pt arial; box-shadow:	5px 5px 8px  #888888;}
.dpbody .title {width:100%; border-bottom:1px solid #cecece; background-color:#BEE296; font-weight: bold;}
.dpbody .title div {display: inline-block; width:25px; border-right:1px solid #cecece; cursor:pointer; text-align: center; line-height: 24px; 
text-shadow: 2px 2px 8px #cecece;}
.dpbody .title span {display: inline-block;  width: 147px; text-align: center; border-right: 1px solid #cecece;}
.dpbody .title div:hover { background-color: #83C837;}
.dpbody .weekdays {border-bottom: 1px solid #cecece; margin: 0px; padding: 0px; background-color:#FFF1DD;}
.dpbody .weekdays li{display: inline-block; width: 35px; text-align: center; border-right: 1px solid #cecece; line-height:22px;}
.dpbody .dp_days div{display: inline-block; width:35px; border-right:1px solid #cecece; border-bottom:1px solid #cecece; text-align: center;
cursor: pointer; color: #0F52EE; line-height:22px; font-weight: bold;}
.dpbody .dp_days span{display: inline-block; width: 35px; cursor: default; border-right: 1px solid #cecece; border-bottom: 1px solid #cecece;line-height:22px;}
.dpbody .dp_days div:hover{background-color: #F5F96A; color: black;}
